@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    /* background-image: radial-gradient(circle,white,#F9F9FB); */
    background-color: #F9F9FB;
    font-family: "Barlow", sans-serif;
    /* margin: auto; */
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    padding-bottom: 50px;
}

h1, h2, h3 {
    color: #4a4a4a;
}

h1 {
    color: white;
    margin: 0px;
    padding: 20px 10px 10px 10px;
    text-shadow: 1px 1px 1px rgb(170, 169, 169);
    font-weight: 700;
    /* border: 1px solid lightgray; */
}

h2 {
    /* border: 1px solid darkcyan; */
}

main {
    max-width: 900px;
    margin: auto;
}

main p {
    text-indent: 30px;
}

div#div-header {
    max-width: 900px;
    margin: auto;
    /* border: 1px solid lightgray;  */
    text-align: justify;
    padding-bottom: 15px;
}

header {
    background-color: #00A19C;
    box-shadow: 0px 5px 8px rgb(85, 85, 85); /*side bottom spread collor*/
    /* border-radius: 20px; */
}

.test_01 {
    border: 1px solid lightgray;
}

.no_border {
    border: none;
}

.test_01 > iframe {
    width: 100%;
}

div:hover{
    background-color: #00a19c3b;
    transition: 0.5s;
}

div.no_border:hover{
    background-color: #00a19c00;
    transition: 0;
}

nav {
    /* border: 1px solid black;  */
}

nav > ul {
    /* border: 1px solid black; */
    text-align: right;
    margin: 0px;
}

nav > ul > li {
    display: inline;
    
    /* border: 1px solid black */
}

nav > ul > li > a {
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500; 
    margin: 15px;  
}

nav > ul > li > a:hover {
    color: rgb(68, 68, 68);
    /* text-decoration: underline; */
    text-shadow: 1px 1px 1px rgb(82, 81, 81);
    transition: 0.5s;
}

footer {
    /* border: 1px solid black; */
    background-color: #00A19C;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    /* height: 50px;  */
    padding: 20px;
}

div#div-footer {
    /* border: 1px solid rgb(233, 13, 13); */
    max-width: 900px;
    margin: auto;
}

div#div-footer > p {
    color: white;
    text-align: center;
    margin: 0px;
}

table {
    width: 100%;
    height: 300px;;
    border-collapse: collapse;
}

table td {
    border: 1px solid gray;
    text-align: center;
    /* vertical-align: top; */
} 

table td:hover {
    background-color: #00a19c3b;
    transition: 0.5s;
}

table td a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}

a.a_div {
    text-decoration: none;
    color: black;
}